
.template.products-and-services {
	width: 100%;
}

.template.products-and-services .promo-block-inner-wrapper {
	padding: 15px;
}

.template.products-and-services .promo-blocks.extra-space {
	padding: 40px 0;
}