
.template.hyundai-redesign {
	width: 100%;
}



.template.hyundai-redesign .promo-block .square-box-inner-wrapper,
.template.hyundai-redesign .promo-block-inner-wrapper img {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}

.template.hyundai-redesign .promo-block-inner-wrapper {
	padding: 15px;

}