
/* Hover Box */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.square-box {
    display: block;
    position: relative;
    overflow: hidden;
	width: 100%;
}

.square-box-inner-wrapper {
    display: block;
    position: absolute;      
    overflow: hidden;
}


