/* Fonts */
/* ------------------------------------------------------------ */

@font-face {
    font-family: 'HyundaiSansHead-Light';
    src: url('../../fonts/HyundaiSansHead-Light.eot');
    src: url('../../fonts/HyundaiSansHead-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/HyundaiSansHead-Light.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HyundaiSansHead-Regular';
    src: url('../../fonts/HyundaiSansHead-Regular.eot');
    src: url('../../fonts/HyundaiSansHead-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/HyundaiSansHead-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HyundaiSansHead-Medium';
    src: url('../../fonts/HyundaiSansHead-Medium.eot');
    src: url('../../fonts/HyundaiSansHead-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/HyundaiSansHead-Medium.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HyundaiSansText-Regular';
    src: url('../../fonts/HyundaiSansText-Regular.eot');
    src: url('../../fonts/HyundaiSansText-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/HyundaiSansText-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}