
.template.home {
	width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}


.promo-block {
	margin: 0 0 0px 0;
}

.promo-block-inner-wrapper {
	background-color: transparent;
}


.promo-block-inner-wrapper.square {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
}

.promo-block-inner-wrapper.half-square-horizontal {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
}




.promo-block.left {
	/*
        padding-right: 10px;
	*/
}

.promo-block.right {
	/*
        padding-left: 10px;
	*/
}

.promo-block-content {
	position: absolute;
	color: #fff;
    background-color: #ddd;
    cursor: pointer;
}

.promo-block-title {
    position: absolute;
    left: 40px;
	top: 40px;
    font-size: 16px;
	line-height: 24px;
}



.new.block {
	padding: 60px 0 40px 0;
}

/*

	<div class="promo-blocks row base">
		<!-- .block -->
		<div class="promo-block block col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
			ux
		</div>
		<!-- .block -->
		<!-- .block -->
		<div class="promo-block block col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
			design
		</div>
		<!-- .block -->
	</div>

Markup

<div class="wrapper-with-intrinsic-ratio">
  <div class="element-to-stretch"></div>
</div>

*/