/* CSS Reset */
/* ------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
a:hover,
a:visited,
a:active {
	text-decoration: none !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
input, textarea {
	outline: none;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	space: 0px;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px white inset;
}



/* Global */
/* ------------------------------------------------------------ */

body, html {
	background: #fff;
	max-width: 100%;
	overflow-x: hidden;
	color: #111;
	font-family: 'europa', Helvetica, Arial, Verdana, sans-serif;
    font-weight: 400;
	font-style: normal;
	font-size: 21px;
	line-height: 32px;
	-webkit-font-smoothing: antialiased;
}
.row, .row .row {
	margin-top: 0;
	margin-bottom: 0;
}
[class*="col-"] {
	padding: 0;
	border: 0;
}
.clearfix {
	clear: both;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
sup {
	position: relative;
	font-size: 70%;
	line-height: 0;
	vertical-align: baseline;
	top: -.5em;
}

.full-frame-image {
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: 50% 50%;
}

#viewport {
	opacity: 0;
}

#viewport .row {
	margin: 0;
}

#viewport .row.base {
	padding: 0 80px;
}

/* Global End */



/* Masthead */
/* ------------------------------------------------------------ */

#masthead {
	position: fixed;
	width: 100%;
	height: 180px;
	top: 0px;
	left: 0px;
 	background-color: rgba(255, 255, 255, 0.6);
 	z-index: 100;
}

#logo {
	position: absolute;
	width: 52px;
	left: 80px;
	top: 52px;
}

#logo img {
	width: 52px;
}

/* Main UI */

#main-ui {
	position: absolute;
	width: 100%;
	height: 180px;
	top: 0px;
	left: 0px;
 	z-index: 100;
 	overflow: hidden;
}

#main-menu {
	position: absolute;
	width: 100%;
	height: 60px;
	top: 55px;
	left: 165px;
	text-align: left;
	pointer-events: none;
	z-index: 101;
}

.menu-button {
	display: inline-block;
	float: left;
	height: 60px;
	font-size: 16px;
	line-height: 60px;
	padding: 0 7px;
	pointer-events: auto;
}

.menu-button a {
	color: #222222;
	font-size: 16px;
}

#email {
	position: absolute;
	width: 100%;
	height: 60px;
	top: 55px;
	right: 100px;
	text-align: right;
	pointer-events: none;
	z-index: 102;
}

#email .menu-button {
	float: right;
}




/* Footer */
/* ------------------------------------------------------------ */

#footer {
 	background-color: #3f0;
}


/* Template */
/* ------------------------------------------------------------ */

#template {
 	padding: 220px 0 80px 0;
}


.title {
	font-size: 16px;
	line-height: 16px;
}







