
/* Home Template */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.template.home {
    display: block;
    width: 100%;
 	text-align: center;
}

.template-content {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 1920px;
    text-align: left;
    background-color: #00ff90;

    /* 100px top padding to clear main nav bar */
    padding: 80px 0;
}

.template-content-inner-wrap {
    padding: 0 80px;
    background-color: #ffd800;
}

.template-content .product-preview {
    background-color: #ff6a00;
    padding: 20px 0;
}

.md .product-preview.row-eq-height  {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.manufacturing-story {
    background-color: #b200ff;
    padding: 20px 0;
}