/* CSS Reset */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover {
	text-decoration: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
input, textarea {
	outline: none;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	space: 0px;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px white inset;
}

/* Global */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

html, body {
    height: 100%;
    margin: 0;
	font-family: 'europa', Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 21px;
	-webkit-font-smoothing: antialiased;
}

body {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	color: #111;
    margin: 0;
    opacity: 0;
}

body.js-app {
    background-color: #fff;
}

.row, 
.row .row,
.template .row {
	padding: 0;
	margin: 0;
}

.row {
	display: block;
	position: relative;
	width: 100%;
	text-align: left;
}

.viewport {
    min-height: 100%;
}

[class*="col-"] {
	padding: 0;
	border: 0;
}

.clearfix {
	clear: both;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

sup {
	position: relative;
	font-size: 70%;
	line-height: 0;
	vertical-align: baseline;
	top: -.5em;
}

.full-frame-image {
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: 50% 50%;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.xs .row-eq-height,
.sm .row-eq-height,
.md .row-eq-height {
    display: inline-block;
}



/* Masthead */
/* ------------------------------------------------------------ */

#masthead {
	position: fixed;
	width: 100%;
	height: 180px;
	top: 0px;
	left: 0px;
 	z-index: 100;
}

#logo {
	position: absolute;
	width: 40px;
	left: 85px;
	top: 57px;
}

#logo img {
	width: 40px;
}

/* Main UI */

#main-ui {
	position: absolute;
	width: 100%;
	height: 180px;
	top: 0px;
	left: 0px;
 	z-index: 110;
 	overflow: hidden;
}

#main-ui-background {
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #fff;
	opacity: 0.5;
}

#main-menu {
	position: absolute;
	width: 100%;
	height: 60px;
	top: 55px;
	left: 155px;
	text-align: left;
	pointer-events: none;
	z-index: 111;
}

.menu-button {
	display: inline-block;
	float: left;
	height: 60px;
	font-size: 16px;
	line-height: 60px;
	padding: 0 7px;
	pointer-events: auto;
}

.menu-button a {
	color: #222222;
	font-size: 17px;
}

#email {
	position: absolute;
	width: 100%;
	height: 60px;
	top: 55px;
	right: 100px;
	text-align: right;
	pointer-events: none;
	z-index: 112;
}

#email .menu-button {
	float: right;
}


/* Footer */
/* ------------------------------------------------------------ */

#footer {
 	background-color: #3f0;
}


/* Template */
/* ------------------------------------------------------------ */

#template {
 	padding: 220px 80px 80px 80px;
}

.xs #template,
.sm #template {
    padding: 220px 40px 80px 40px;
}


.title {
	font-size: 16px;
	line-height: 16px;
}

.template {
	width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fff;
}


.template .promo-blocks .promo-block-inner-wrapper.square-box {
	padding: 0;
}

.promo-block-inner-wrapper img {
	width: 100%;
}

.promo-blocks.unconnected {
	padding-top: 40px;
}

.template .promo-blocks.extra-space {
	padding: 40px 0;
}

/* Typography */
/* ------------------------------------------------------------ */

.title {
	font-family: 'europa', Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 21px;
	padding: 10px 15px;
	-webkit-font-smoothing: antialiased;
}

.title.page-title {
	padding: 10px 15px 40px 15px;
}

.body {
	font-family: 'europa', Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	-webkit-font-smoothing: antialiased;
}


/* Promo blocks */
/* ------------------------------------------------------------ */

.promo-block {
	margin: 0;
}

.promo-block-title.title {
    position: absolute;
    left: 40px;
	top: 40px;
    font-size: 17px;
	line-height: 24px;
	color: #fff;
    z-index: 30;
	padding: 0;
}

.promo-block-description {
	padding: 10px 15px 50px 15px;
}