
.template.home {
	width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}


.promo-block {
	margin: 0 0 0px 0;
}

.promo-block-inner-wrapper {
	background-color: transparent;
}

.promo-block-inner-wrapper.square {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
}

.promo-block-inner-wrapper.half-square-horizontal {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
}

.promo-block.left {

}

.promo-block.right {

}

.promo-block-content {
    display: block;
    position: absolute;      
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 5px;
	color: #fff;
    background-color: #ff6a00;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
}

.promo-block-title {
    position: absolute;
    left: 40px;
	top: 40px;
    font-size: 17px;
	line-height: 24px;
    z-index: 30;
}

.new.block {
	padding: 20px 0 40px 0;
}
