
#visual-code-history {
	padding: 80px 0 40px 0;
}



.code-category {

}

.visual-code-history-title {
	/*
	font-family: 'ProximaNovaLight', Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 0px;
	*/
	
	
}

.code-category .code-item {
	position: relative;
	margin: 0 0 80px 0;
}

.code-category .code-item .title {
	/*
	font-family: 'ProximaNovaLight', Helvetica, Arial, Verdana, sans-serif;
	*/
	font-family: 'ProximaNovaSemibold', Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 16px;
	padding: 0;
	text-transform: none;
}

.code-category .code-item .exp-bar {
	padding: 0 40px 0 0;
}

.code-category .code-item .exp-bar-wrapper {
	position: relative;
}

.code-category .code-item .exp-bar-rating {
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #999;
	left: 0px;
	bottom: -25px;
	z-index: 30;
}

.code-category .code-item .exp-bar-full {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #eee;
	left: 0px;
	bottom: -25px;
	z-index: 20;
}

.code-category .code-item .history {
	
}



